<div class="slide position-relative" style="background-image: url('assets/homepage/student-cover.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1>
          Online tutors are ready to help 24/7
        </h1>
        <p>Academic tutoring courses provide students with an exciting opportunity to learn a variety of</p>
        <button mat-flat-button color="primary">
          Get Started
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
