<div class="row choose-plan">
  <div class="col-md-4">
    <div class="title">
      <h3>Choose your Plan</h3>
      <p>Choose your learning plan and start learning now</p>
    </div>
    <ul class="list-unstyled m-0 p-0">
      <li>1 on 1 Tutoring</li>
      <li>Easy Access to funds</li>
      <li>Mobile Optimized</li>
      <li>Basic Data</li>
      <li>Team Member</li>
      <li>Synced to cloud database</li>
      <li>Email Support</li>
    </ul>
  </div>
  <div class="col-md blocks">
    <div class="title d-flex flex-column align-items-center justify-content-center">
      <h4>$10.99<span>/Lessons</span></h4>

      <button mat-flat-button color="primary">Pay now</button>
    </div>

    <ul class="list-unstyled m-0 p-0">
      <li>
        <mat-icon>check</mat-icon>
      </li>
      <li>
        <mat-icon>check</mat-icon>
      </li>
      <li>
        <mat-icon>check</mat-icon>
      </li>
      <li class="text-center">-</li>
      <li class="text-center">-</li>
      <li class="text-center">-</li>
      <li class="text-center">-</li>
    </ul>
  </div>
  <div class="col-md blocks">
    <div class="title d-flex flex-column align-items-center justify-content-center">
      <h4>$19.99<span>/Month</span></h4>

      <button mat-flat-button color="primary">Pay now</button>
    </div>

    <ul class="list-unstyled m-0 p-0">
      <li>
        <mat-icon>check</mat-icon>
      </li>
      <li>
        <mat-icon>check</mat-icon>
      </li>
      <li>
        <mat-icon>check</mat-icon>
      </li>
      <li>
        <mat-icon>check</mat-icon>
      </li>
      <li class="text-center">-</li>
      <li class="text-center">-</li>
      <li class="text-center">-</li>
    </ul>
  </div>
  <div class="col-md blocks">
    <div class="title d-flex flex-column align-items-center justify-content-center">
      <h4>$29.99<span>/Month</span></h4>

      <button mat-flat-button color="primary">Pay now</button>
    </div>

    <ul class="list-unstyled m-0 p-0">
      <li>
        <mat-icon>check</mat-icon>
      </li>
      <li>
        <mat-icon>check</mat-icon>
      </li>
      <li>
        <mat-icon>check</mat-icon>
      </li>
      <li>
        <mat-icon>check</mat-icon>
      </li>
      <li>
        <mat-icon>check</mat-icon>
      </li>
      <li>
        <mat-icon>check</mat-icon>
      </li>
      <li class="text-center">-</li>
    </ul>
  </div>
</div>
