<div class="container profile">
  <metutors-profile-header [tutor]="tutor"></metutors-profile-header>
  <div class="row">
    <div class="col-md-4">
      <metutors-profile-about-me [tutor]="tutor"></metutors-profile-about-me>
      <metutors-profile-languages [tutor]="tutor"></metutors-profile-languages>
      <metutors-profile-specialization [tutor]="tutor"></metutors-profile-specialization>
      <metutors-profile-share></metutors-profile-share>
    </div>
    <div class="col-md-8">
      <metutors-profile-feedback-ratings [tutor]="tutor"></metutors-profile-feedback-ratings>
      <metutors-profile-tutor-badges [tutor]="tutor"></metutors-profile-tutor-badges>
    </div>
  </div>
</div>
