<metutors-academic-tutoring-slide></metutors-academic-tutoring-slide>
<div class="container">
  <metutors-benefits-tutoring [academicTutoringBenefits]="academicTutoringBenefits"></metutors-benefits-tutoring>
</div>
<metutors-learning-environment></metutors-learning-environment>
<!-- <div class="container">
  <metutors-choose-plan></metutors-choose-plan>
</div> -->
<metutors-facts-statistics [statistics]="academicStatistics"></metutors-facts-statistics>
<div class="container">
  <metutors-testimonial [testmonials]="testmonials"></metutors-testimonial>
</div>
