<metutors-prep-college-slide [category]="category"></metutors-prep-college-slide>
<div class="container">
  <metutors-prep-college-introducing [prepCollageIntro]="prepCollageIntro"></metutors-prep-college-introducing>
  <metutors-prep-college-courses [category]="category" [courses]="categoryCourses"></metutors-prep-college-courses>
  <metutors-prep-college-testimonial [testmonials]="testmonials"></metutors-prep-college-testimonial>
</div>
<metutors-start-learning-now></metutors-start-learning-now>
